.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/*#FormChallange {
	background-color: paleturquoise;
	padding-top: 50px;
	padding-bottom: 50px;
}

#Signin {
	width: 550px;
	padding-bottom: 50px;
	background-color: whitesmoke;
	border-bottom-color: limegreen;
	border-right-color:limegreen;
	border-right-style: solid;
	border-bottom-style: solid;
	border-radius: 30px;
}
#Login {
	color: limegreen;
}
#Login:hover {
	color: yellow;
	font-size: larger;
	text-decoration: underline;
}
#Create {
	color: darkgray;
}
#Create:hover {
	color: black;
	font-size: larger;
	text-decoration: underline;
}
input {
	width: 75%;
	border-radius: 20px
}
button {
	width: 125px;
	border-radius: 30px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
